/*Import Google Font */
@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "poppins", "sans-serif";
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, red), color-stop(50%, black));
  background: linear-gradient(red 50%, black 50%);
  color: #000;
}

.wrapper {
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.wrapper header {
  font-size: 18ox;
  font-weight: 400;
  color: #333;
}

.wrapper p {
  color: #333;
}

.wrapper .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  margin: 2px 0;
}

.input-field input,
.input-field button {
  height: 50px;
  width: calc(50% - 20px);
  outline: none;
  padding: 0 20px;
  border-radius: 8px;
}

.input-field input {
  border: 1px solid #aaa;
  text-align: center;
  font-size: 18px;
  color: #707070;
  width: 110px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  display: none;
}

.input-field input:disabled {
  cursor: not-allowed;
}

.input-field button {
  border: none;
  background: #3b832c;
  cursor: pointer;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.input-field button:active {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}